

.background{
    background-image: url(images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* .myImg{
    height: 350px;
} */
.jumbotron{
    padding-top: 70px;;
}
#cards1{
    background-color: #f8f9fa;
}
footer{
    background-color: #f8f9fa;
}
#form1{
    background-color: #f8f9fa;
}
form-control{
    background-color:#f8f9fa ;
}

.borderself{
    text-align: center;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin: center;
    margin-left:110px ;
    border: rounded-circle;
    
}
#serviceh2 h2{
    border: 2px solid rgb(231, 84, 40); border-radius: 50% ; height: 80px ;width: 80px ; margin-left: 35%;
    padding-top: 15px;
    font-weight: bold;
    color:red;
}
.testinomial row{
    margin-top: 30px;
}
#profileset col-md-6{
   margin: 3px auto;
}
.profile{
    background-color: #f8f9fa;
    padding: 60px 60px 10px;
    
}
.profile img{
    left: -30px;
    top: 35%;
    position:absolute;
    right: calc(40% -60px);

    border: 2px solid red;
}
.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#vertical{
    color: red;
}
#form1{
    background-color: #f8f9fa;
}
#blogcontent{
     width: 90%;
   background-color: white;
    margin-left: 26px;
    margin-top: -50px;
    /* border: 20px shadow black ; */
    /* box-shadow: 2px 5px #888888; */
    box-shadow: 15px 5px 20px 2px rgba(0, 0, 0, 0.5);
}
.form-control{
    background-color: #f8f9fa;
}
#blog-image :hover{
    background-color: aqua;
    color: red;

}
#topnav li{
    margin: 10px;
    display: inline;
}

#cardbody{
    margin: 5px;
}
  
@media screen  and (max-width: 575px) {
    #topnav{
      box-sizing: border-box;
      flex-direction: row;
      letter-spacing: 25px;
    }
   

}

@media screen and (max-width:768px){
    #timelinecol{
       
        margin-top: 5%;
    }
}
#cardBody{
    /* padding: 20px; */
    box-sizing: border-box;
    margin: 20px 0;
    text-align: center;
    font-size: 1rem;
}
.card-body{
    padding: 0;
    margin: 0;
}


#aboutMe img{
    vertical-align: left;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 10 auto;
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgb(221, 23, 23);
    top: 0px;
    bottom: -16px;
    left: 10px;
    margin-left: 0px;

  }

  .container1{
    padding: 0px 30px ;
   
    position: relative;
    background-color: inherit;
    width: 100%;
    margin-left: 10px;
    
  }
  .container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -10px;
    background-color: rgb(247, 242, 242);
    border: 4px solid #e7343d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
