.row  #header_background_image{
    background-image: url('12.jpg');
    /* background-color: green; */
}
.col-md-11{
    background-image: url(/images/12.jpg);
    
   
}
body{
    background-image: url('12.jpg');
}
#cards1{
    background-color: #f8f9fa;
}
footer{
    background-color: #f8f9fa;
}
#form1{
    background-color: #f8f9fa;
}
form-control{
    background-color:#f8f9fa ;
}

.borderself{
    text-align: center;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin: center;
    margin-left:110px ;
    border: rounded-circle;
    
}
#serviceh2 h2{
    border: 2px solid rgb(231, 84, 40); border-radius: 50% ; height: 80px ;width: 80px ; margin-left: 35%;
    padding-top: 15px;
    font-weight: bold;
    color:red;
}



